antlr4-python3-runtime==4.8
atomicwrites==1.4.0
attrs==21.2.0
black==21.10b0
click==8.0.3
colorama==0.4.4
flake8==4.0.1
hydra-core==1.1.1
iniconfig==1.1.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
omegaconf==2.1.1
packaging==21.2
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==2.4.7
pytest==6.2.5
PyYAML==5.4.1
regex==2021.11.2
toml==0.10.2
tomli==1.2.2
typing-extensions==3.10.0.2
