resource "{{ resource_type }}" "{{ module_name }}" {
{% for key, value in module_fields.items() %}
    {{ to_toml(key, value) }}
{%- endfor %}

{% for block in module_blocks %}
    {{ block }} {
    {%- for key, value in module_blocks[block].items() %}
        {{ to_toml(key, value) }}
    {%- endfor %}
    }
{% endfor %}
}