{% for key, value in outputs.items() %}
output "{{ key }}" {
  description = "{{ value.description }}"
  value = {{ module_type }}.{{ module_name }}.{{ value.lookup.rsplit('.', 1)[1] }}
}

{%- endfor %}